## ACC Team listing (Web Scraping to demonstrate data cleaning)   
#### This exercise is designed to recreate a chart from html scrapped from an ESPN page displaying current college football standing in the ACC.

In [ ]:
# This exercise is designed to recreate a chart from html scrapped from an 
# ESPN page displaying current college football standing in the ACC. 

import pandas as pd
import requests
import bs4

In [3]:
response = requests.get('https://www.espn.com/college-football/standings/_/group/1')

In [4]:
soup = bs4.BeautifulSoup(response.content, 'html.parser')

In [54]:
# Extracting the team names from the web page
teams = soup.find_all('div', attrs={'class':'team-link'})


teamlist = []
for team in teams:
    teamlist.append(str.strip(team.text))

teamlist

['NDNotre Dame Fighting Irish',
 'CLEMClemson Tigers',
 'MIAMIMiami Hurricanes',
 'UNCNorth Carolina Tar Heels',
 'NCSTNC State Wolfpack',
 'BCBoston College Eagles',
 'PITTPittsburgh Panthers',
 'VTVirginia Tech Hokies',
 'UVAVirginia Cavaliers',
 'WAKEWake Forest Demon Deacons',
 'GTGeorgia Tech Yellow Jackets',
 'LOULouisville Cardinals',
 'FSUFlorida State Seminoles',
 'DUKEDuke Blue Devils',
 'SYRSyracuse Orange']

In [14]:
headers = soup.find_all('span', attrs={'class':'fw-medium'})

headerlist = []
for header in headers:
    headerlist.append(str.strip(header.text))

In [15]:
headerlist

['', 'W-L', 'PF', 'PA', 'W-L', 'PF', 'PA', 'HOME', 'AWAY', 'STRK', 'AP', 'USA']

In [16]:
Headerlist1 = headerlist[:12]
Headerlist1

['', 'W-L', 'PF', 'PA', 'W-L', 'PF', 'PA', 'HOME', 'AWAY', 'STRK', 'AP', 'USA']

In [17]:
Headerlist2 = headerlist[12:24]
Headerlist2

[]

In [47]:
# I am removing the "" from the first column using variables passed into slicing versus the traditional method of ".remove()".

start = 1
end = 24
acteams = (headerlist[start: end])
acteams

['W-L', 'PF', 'PA', 'W-L', 'PF', 'PA', 'HOME', 'AWAY', 'STRK', 'AP', 'USA']

In [20]:
html = soup.find_all('div', attrs={'class':'Table__ScrollerWrapper relative overflow-hidden'})

In [21]:
len(html) # this is to identify the number of tables being used

1

In [24]:
table = html[0].find('tbody')
#table

In [48]:
# using a for loop to separate teams

data_cell = table.find_all('span', attrs={'class': 'stat-cell'}) 

data_celllist = []
for data in data_cell:
    data_celllist.append(str.strip(data.text))

In [27]:
team1 = data_celllist[:11]
dfteam1 = pd.DataFrame(team1).T

In [28]:
team2 = data_celllist[11:22]
dfteam2 = pd.DataFrame(team2).T

In [29]:
team3 = data_celllist[22:33]
dfteam3 = pd.DataFrame(team3).T

In [30]:
team4 = data_celllist[33:44]
dfteam4 = pd.DataFrame(team4).T

In [31]:
team5 = data_celllist[44:55]
dfteam5 = pd.DataFrame(team5).T

In [32]:
team6 = data_celllist[55:66]
dfteam6 = pd.DataFrame(team6).T

In [33]:
team7 = data_celllist[66:77]
dfteam7 = pd.DataFrame(team7).T

In [39]:
table1 = html[0].find('tbody')
#table1

In [60]:
data_cell1 = table1.find_all('span', attrs={'class': 'stat-cell'})

data_celllist1 = []
for data in data_cell1:
    data_celllist1.append(str.strip(data.text))


team8 = data_celllist1[:11]
dfteam8 = pd.DataFrame(team8).T


team9 = data_celllist1[11:22]
dfteam9 = pd.DataFrame(team9).T


team10 = data_celllist1[22:33]
dfteam10 = pd.DataFrame(team10).T


team9 = data_celllist1[11:22]
dfteam9 = pd.DataFrame(team9).T

team10 = data_celllist1[22:33]
dfteam10 = pd.DataFrame(team10).T


team11 = data_celllist1[33:44]
dfteam11 = pd.DataFrame(team11).T


team12 = data_celllist1[44:55]
dfteam12 = pd.DataFrame(team12).T


team13 = data_celllist1[55:66]
dfteam13 = pd.DataFrame(team13).T

team14 = data_celllist1[66:77]
dfteam14 = pd.DataFrame(team14).T

team15 = data_celllist1[77:88]
dfteam15 = pd.DataFrame(team15).T

In [50]:
# Concatenating each team record and putting the column title into the dataframe.

ACC_Div = pd.concat([dfteam1,dfteam2,dfteam3,dfteam4,dfteam5,dfteam6,dfteam7,dfteam8,dfteam9,
                     dfteam10,dfteam11,dfteam12,dfteam13,dfteam14], axis=0)

ACC_Div.columns = ['W-L', 'PF', 'PA', 'W-L', 'PF', 'PA', 'HOME', 'AWAY', 'STRK', 'AP', 'USA']

ACC_Div

   W-L   PF   PA   W-L   PF   PA HOME AWAY STRK   AP  USA
0  9-0  325  171  10-2  401  236  6-0  4-0   L2  2-2  2-2
0  8-1  411  183  10-2  522  242  6-0  3-1   L1  2-2  2-2
0  7-2  309  246   8-3  374  297  4-1  4-1   L2  1-2  1-3
0  7-3  424  303   8-4  500  353  5-1  3-2   L1  3-2  3-2
0  7-3  327  313   8-4  363  350  5-1  3-2   L1  2-3  2-3
0  5-5  282  291   6-5  306  312  4-2  2-3   L1  0-4  0-4
0  5-5  264  270   6-5  319  270  4-2  2-3   W1  1-3  0-3
0  9-0  325  171  10-2  401  236  6-0  4-0   L2  2-2  2-2
0  8-1  411  183  10-2  522  242  6-0  3-1   L1  2-2  2-2
0  7-2  309  246   8-3  374  297  4-1  4-1   L2  1-2  1-3
0  7-3  424  303   8-4  500  353  5-1  3-2   L1  3-2  3-2
0  7-3  327  313   8-4  363  350  5-1  3-2   L1  2-3  2-3
0  5-5  282  291   6-5  306  312  4-2  2-3   L1  0-4  0-4
0  5-5  264  270   6-5  319  270  4-2  2-3   W1  1-3  0-3

In [64]:
# Replacing the indexes with a list of team names.

ACC_Div.index = ['NDNotre Dame Fighting Irish',
 'CLEMClemson Tigers',
 'MIAMIMiami Hurricanes',
 'UNCNorth Carolina Tar Heels',
 'NCSTNC State Wolfpack',
 'BCBoston College Eagles',
 'PITTPittsburgh Panthers',
 'VTVirginia Tech Hokies',
 'UVAVirginia Cavaliers',
 'WAKEWake Forest Demon Deacons',
 'GTGeorgia Tech Yellow Jackets',
 'LOULouisville Cardinals',
 'FSUFlorida State Seminoles',
 'DUKEDuke Blue Devils']

In [65]:
ACC_Div

,W-L,PF,PA,W-L,PF,PA,HOME,AWAY,STRK,AP,USA
NDNotre Dame Fighting Irish,9-0,325,171,10-2,401,236,6-0,4-0,L2,2-2,2-2
CLEMClemson Tigers,8-1,411,183,10-2,522,242,6-0,3-1,L1,2-2,2-2
MIAMIMiami Hurricanes,7-2,309,246,8-3,374,297,4-1,4-1,L2,1-2,1-3
UNCNorth Carolina Tar Heels,7-3,424,303,8-4,500,353,5-1,3-2,L1,3-2,3-2
NCSTNC State Wolfpack,7-3,327,313,8-4,363,350,5-1,3-2,L1,2-3,2-3
BCBoston College Eagles,5-5,282,291,6-5,306,312,4-2,2-3,L1,0-4,0-4
PITTPittsburgh Panthers,5-5,264,270,6-5,319,270,4-2,2-3,W1,1-3,0-3
VTVirginia Tech Hokies,9-0,325,171,10-2,401,236,6-0,4-0,L2,2-2,2-2
UVAVirginia Cavaliers,8-1,411,183,10-2,522,242,6-0,3-1,L1,2-2,2-2
WAKEWake Forest Demon Deacons,7-2,309,246,8-3,374,297,4-1,4-1,L2,1-2,1-3
GTGeorgia Tech Yellow Jackets,7-3,424,303,8-4,500,353,5-1,3-2,L1,3-2,3-2
LOULouisville Cardinals,7-3,327,313,8-4,363,350,5-1,3-2,L1,2-3,2-3
FSUFlorida State Seminoles,5-5,282,291,6-5,306,312,4-2,2-3,L1,0-4,0-4
DUKEDuke Blue Devils,5-5,264,270,6-5,319,270,4-2,2-3,W1,1-3,0-3